<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>653078425963-r2g51fem914m1oe4ibs0udog2hrd843j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.653078425963-r2g51fem914m1oe4ibs0udog2hrd843j</string>
	<key>API_KEY</key>
	<string>AIzaSyBfZm28yy40kLfYbDl-uxSD-x9cqZIoTpI</string>
	<key>GCM_SENDER_ID</key>
	<string>653078425963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Eddy.WiCs</string>
	<key>PROJECT_ID</key>
	<string>wics-b02a1</string>
	<key>STORAGE_BUCKET</key>
	<string>wics-b02a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:653078425963:ios:4bb1fb42bc6cfc76</string>
	<key>DATABASE_URL</key>
	<string>https://wics-b02a1.firebaseio.com</string>
</dict>
</plist>
